.Rproj.user
.Rhistory
.RData
.Ruserdata
industrial_growth_opportunities.csv
inst/doc
docs
/doc/
/Meta/
aurin_wfs_connection.xml
EFA_Input_2011.csv
EFA_Input_2016.csv
sem_data.csv
sem_input.csv
sem_output2.csv
