mechanical_boon_-_will_automation_advance_australia_-_data_table.xlsx
ipgod101.csv
ipgod102.csv
ipgod110.csv
ipgod201.csv
ipgod202.csv
ipgod301.csv
ipgod302.csv
ipgod401.csv
ipgod402.csv
merchandise_trade_appendices_2018.xlsx
sa2_pow_indp4_2016.csv
sa2_pow_qalfp.csv
sa2_pow_indp4_2011.csv
sa2_pow_occp4_2011.csv
sa2_pow_qalfp_2011.csv
sa2_pow_qalfp_2016.csv
sa2_pow_qallp_2011.csv
sa2_pow_qallp_2016.csv
sa2_pow_siemp.csv
sa2_pow_siemp_2011.csv
sa2_pow_siemp_2016.csv
sa2_pow_occp4_2016.csv
sa2_pow_indp2_2021.csv
sa2_pow_indp4_2021.csv
sa2_pow_occp4_2021.csv
sa2_pow_qalfp_2021.csv
sa2_pow_qallp_2021.csv
sa2_pow_siemp_2021.csv
MB_2021_AUST.xlsx
POA_2021_AUST.xlsx
efa.R
model.R
spatial_autocorrelation.R
